@model BasketViewModel

<div class="minicart-close">
    <i class="ion-android-close"></i>
</div>
<div class="minicart-content-box">

    <div class="minicart-item-wrapper">
        @foreach (var item in Model.basketItems)
        {
            <ul>
                <li class="minicart-item">
                    <div class="minicart-thumb">
                        <a href="product-details.html">
                            <img src="~/Manage/Uploads/Products/@item.Product.Images.FirstOrDefault(x=>x.ImageStatus==true).ImageName" alt="product" />
                        </a>
                    </div>
                    <div class="minicart-content">
                        <h3 class="product-name">
                            <a href="product-details.html">@item.Product.Name</a>
                        </h3>
                        <p>
                            <span class="cart-quantity">1 <strong>&times;</strong></span>
                            <span class="cart-price">$@(item.Product.DiscountedPrice > 0 ? item.Product.DiscountedPrice : item.Product.SalePrice) * item.Count</span>
                        </p>
                    </div>
                    <div class="minicart-pricing-box">
                        <ul>
                            <li>
                                <span>Cost</span>
                                <span><strong>@item.Count</strong></span>
                            </li>
                            <li>
                                <span>Cost</span>
                                <span><strong>$@(item.Product.DiscountedPrice > 0 ? item.Product.DiscountedPrice : item.Product.SalePrice)</strong></span>
                            </li>
                            <li class="total">
                                <span>Total</span>
                                <span><strong>$@(item.Product.DiscountedPrice > 0 ? item.Product.DiscountedPrice : item.Product.SalePrice) * item.Count</strong></span>
                            </li>
                        </ul>
                    </div>
                    <button class="minicart-remove">
                        <i class="ion-android-close"></i>
                    </button>
                </li>

            </ul>
        }

    </div>

    <div class="minicart-button">
        <a href="cart.html"><i class="fa fa-shopping-cart"></i> view cart</a>
        <a href="cart.html"><i class="fa fa-share"></i> checkout</a>
    </div>
</div>