<div class="cart-main-wrapper section-padding">
    <div class="container">
        <div class="section-bg-color">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Cart Table Area -->
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Thumbnail</th>
                                    <th class="pro-title">Product</th>
                                    <th class="pro-price">Price</th>
                                    <th class="pro-quantity">Count</th>
                                    <th class="pro-subtotal">Total</th>
                                    <th class="pro-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="pro-thumbnail">
                                        <a href="#">
                                            <img class="img-fluid"
                                                 src="~/Manage/Uploads/Products/2e83158b-10cb-4753-b5f5-cc64fe3e8c47Shop-4.png" alt="Product" />
                                        </a>
                                    </td>
                                    <td class="pro-title"><a href="#">Leather Men Shoes</a></td>
                                    <td class="pro-price"><span>$188.00</span></td>
                                    <td class="pro-price"><span>4</span></td>
                                    <td class="pro-subtotal"><span>$188.00</span></td>
                                    <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                                <tr>
                                    <td class="pro-thumbnail">
                                        <a href="#">
                                            <img class="img-fluid"
                                                 src="~/Manage/Uploads/Products/0bbbc0a6-188e-4df4-ba64-9a17ac61fd67Shop-9.png" alt="Product" />
                                        </a>
                                    </td>
                                    <td class="pro-title"><a href="#">Woman Adidas Shoes</a></td>
                                    <td class="pro-price"><span>$165.00</span></td>
                                    <td class="pro-price"><span>2</span></td>
                                    <td class="pro-subtotal"><span>$165.00</span></td>
                                    <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                                <tr>
                                    <td class="pro-thumbnail">
                                        <a href="#">
                                            <img class="img-fluid"
                                                 src="~/Manage/Uploads/Products/7e880c6b-4636-49e1-954a-b84cec5afbb1product-details-img1.jpg" alt="Product" />
                                        </a>
                                    </td>
                                    <td class="pro-title"><a href="#">Mens Adid Shoes For</a></td>
                                    <td class="pro-price"><span>$225.00</span></td>
                                    <td class="pro-price"><span>6</span></td>
                                    <td class="pro-subtotal"><span>$225.00</span></td>
                                    <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                                <tr>
                                    <td class="pro-thumbnail">
                                        <a href="#">
                                            <img class="img-fluid"
                                                 src="~/Manage/Uploads/Products/5d983f37-c933-4a20-acca-a60f8c814a70shop-6.png" alt="Product" />
                                        </a>
                                    </td>
                                    <td class="pro-title"><a href="#">Women Shopping Shoes</a></td>
                                    <td class="pro-price"><span>$400</span></td>
                                    <td class="pro-price"><span>5</span></td>
                                    <td class="pro-subtotal"><span>$400.00</span></td>
                                    <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>